<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>简单计算器</title>
</head>
<body>
    <div id="app">
        <h2>简单计算器</h2>
        数值a：<input type="text" v-model="num1" v-on:keyup.enter="add"><br>
        数值b：<input type="text" v-model="num2" v-on:keyup.enter="add"><br>
        <input type="button" value="相加" @click="add" ><br>
        结果：{{result}}
    </div>
    <script src="js/vue.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                num1: 0,
                num2: 0,
                result: '',
            },
            methods: {
                add:function () {
                    this.result = parseInt(this.num1) + parseInt(this.num2);
                }
            }
        });
    </script>
</body>
</html>